@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.booking
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #03080a;
}

.foam 
{
    width: 80%;
    padding: 20px;
}

.foam h2 
{
    width: 100%;
    color: #45f3ff;
    font-size: 36px;
    text-align: center;
    margin-bottom: 100px;
}

.foam .row100 
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template: repeat(autofit,minmax(300px, 1fr));
}

.foam .row100 .col 
{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
}

.foam .row100 .inputBox 
{
    position: relative;
    width: 100%;
    height: 40px;
    color: #45f3ff;
}

.foam .row100 .inputBox input,
.foam .row100 .inputBox.textarea textarea
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.foam .row100 .inputBox .booking-text 
{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.foam .row100 .inputBox input:focus + .booking-text,
.foam .row100 .inputBox input:valid + .booking-text
{
    top: -35px;
    left: -10px;
}

.foam .row100 .inputBox .line 
{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 2px;
    pointer-events: none;
}

.foam .row100 .inputBox input:focus ~ .line,
.foam .row100 .inputBox input:valid ~ .line
{
    height: 100%;
}

.foam .row100 .inputBox.textarea
{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.foam .row100 .inputBox.textarea textarea
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.foam .row100 .inputBox textarea:focus + .booking-text,
.foam .row100 .inputBox textarea:valid + .booking-text
{
    top: -35px;
    left: -10px;
}

.foam .row100 .inputBox textarea:focus ~ .line,
.foam .row100 .inputBox textarea:valid ~ .line
{
    height: 100%;
}

input[type = "submit"]
{
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: #45f3ff;
    color: #000;
    font-size: 18px;
    border-radius: 2px;
}